@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

// grayscale
$WW500: #ffffff;
$WW520: #f1f1f1;
$WW510: #f7f7f7;
$WW530: #cecece;
$WW550: #444444;
$WW540: #767676;
$black: #000000;
$white: $WW500;
// blues
$WW010: #00046b;
$WW100: #000586;
$WW110: #0c6cce;
$WW11060: #70aae5;
$WW120: #70d6f2;
$WW12060: #a9e6f7;
$WW11010: #e7f0fa;
$WW12010: #f0fafd;
// purples
$WW200: #672566;
$WW210: #882166;
$WW21060: #b87aa3;
$WW20060: #a47ca3;
$WW220: #e0afe9;
$WW22060: #eccff2;
$WW20010: #efe9ef;
$WW21010: #f3e8ef;
$WW22010: #fbf7fc;
// greens
$WW300: #00756b;
$WW310: #05a580;
$WW31060: #69c9b3;
$WW320: #95f0df;
$WW32060: #bff6ec;
$WW31010: #e6f6f2;
$WW32010: #f4fdfb;
// reds/oranges
$WW400: #d63418;
$WW040: #e42438;
$WW410: #ec5634;
$WW420: #ffc7a3;

$light-grey-bg: #eff2f4;