@import "colors";

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background: $WW010;
  .hero {
    font-size: 45px;
    font-weight: bold;
    margin: 2.5rem 0 0.7rem 0;
  }
  .info {
    font-size: 1rem;
    margin: 0.7rem 0 2.5rem 0; 
  }
}

body {
  font-family: 'Roboto';
  margin: 0;
}

body > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: -webkit-fill-available;
}