@import "colors";
@import "shared";

.about {
  @extend %textColors;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  // height: -webkit-fill-available;
  background: $WW010;
}

body {
  font-family: 'Roboto';
  margin: 0;
}

$textColor : $WW500;
%textColors {
  color: $textColor;
  a:visited, a:link {
    color: $textColor;
  }
  a:hover {
    color: $WW530;
  }
}