@import "colors";
@import "shared";
  
.repos {
  @extend %textColors;
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(1, auto);
  padding: 2%;
  background: $WW510;
  border-bottom: 2px solid $WW540;
  @media only screen and (min-width: 550px) {
      grid-template-columns: repeat(2, auto);
  }
  @media only screen and (min-width: 1080px) {
      grid-template-columns: repeat(3, auto);
  }
}

.repo {
max-width: 400px;
display: flex;
flex-direction: column;
margin: 5%;
padding: 3%;
border-radius: 5px;
box-shadow: 0 5px 10px -2px rgba(116,128,143,0.2);
background: white;
}

.name {
font-size: 2em;
color: black;
padding-left: 0.5em;
}

.name_link {
  text-decoration: none;
}

.middle {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1em;
}

.bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.property {
  padding-top: 1em;
  padding-bottom: 1em;
}

.description {
  max-width: 240px;
}

body {
  font-family: 'Roboto';
  margin: 0;
}


$textColor : $WW110;
%textColors {
  color: $textColor;
  a:visited, a:link {
    color: $textColor;
  }
  a:hover {
    color: $WW530;
  }
}