.title {
    display: flex;
    justify-content: center;
    padding: 2%;
    font-size: 3em;
    color: white;
    background: $WW010;
}


body > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: -webkit-fill-available;
}